*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: Open Sans;
  line-height: 1.65em;
}

header {
  background-color: black;
}

header button {
  background-color: #f04c2f;
  font-family: Montserrat;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: 25a2c3;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.5em;
}

.guarantees {
  background-color: #e22d0e;
  color: white;
}

footer {
  color: white;
}

footer a {
  color: #c8e7f0;
}
