@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-bottom: 1em;
}

img {
  width: 100%;
}

h1,
h2 {
  font-size: 2em;
}

p {
  margin-bottom: 1em;
}

picture {
  margin-bottom: 2em;
}
/* HEADER */
/*  */

.banner {
  background-color: black;
  padding: 20px 40px;
  text-align: left;
}

.banner img {
  width: 180px;
}

.course {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center top;
  padding: 125px 200px;
}

.course h1 {
  line-height: 1em;
  padding-bottom: 0.5em;
}

header button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 1em 2em;
  margin-top: 1em;
  color: white;
  border: none;
  border-radius: 5px;
}

header button:hover {
  cursor: pointer;
}
/* DESCRPTION */
/*  */

.description {
  padding: 120px 0;
}

.description-column {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.description picture img {
  border-radius: 50%;
}

.description-box {
  text-align: left;
  padding-left: 50px;
}

/* EPICODE GARANTISCE */
/*  */

.guarantees {
  background-color: #e22d0e;
  color: white;
  padding: 100px 10%;
}

.guarantees h2 {
  color: white;
  font-size: 2em;
}

.guarantees p {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.guarantees p:first-of-type {
  padding-bottom: 1em;
  font-style: italic;
  font-size: 1.8em;
}

.guarantees p:last-of-type {
  font-size: 0.8em;
}

/* LINK BOX */
/*  */

.link {
  padding: 80px 5%;
  font-size: 1em;
}

.link > div {
  border: 1px solid rgb(224, 228, 231);
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 10px;
}

.link h3 {
  padding-bottom: 0;
}

.link p {
  font-size: 0.9em;
}

.link-picture {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 1em;
}

.link-picture1 {
  background-image: url(../images/foto1.jpg);
}
.link-picture2 {
  background-image: url(../images/foto2.jpg);
}
.link-picture3 {
  background-image: url(../images/foto3.jpg);
}

/* FOOTER */
/*  */

footer {
  color: #c8e7f0;
  background-color: #25a2c3;
  padding: 1em;
  padding-top: 80px;
  padding-bottom: 3em;
  text-align: center;
}

.footer-box {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

footer h2 {
  color: #c8e7f0;
  font-size: 3em;
}

footer p {
  line-height: 0.5em;
}

footer p:last-child {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #c8e7f0;
  margin: 2em auto;
  text-align: center;
}
footer a {
  color: #c8e7f0;
}
